$primarycolor_1:#323232;
$primarycolor_2:#0095FF;
$primarycolor_3:#AFAFAF;
$primarycolor_4:#FFFFFF;
$secondrycolor_1:#000000;
$secondrycolor_2:#0065AD;
$secondrycolor_3:#E1E1E1;
$secondrycolor_4:#FAFAFA;

