@import '../../styles/partials/colors';
@import '../../styles/partials/global';
@import '../../styles/partials/breakpoints';
@import '../../styles/partials/mixins';




.Videolist__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include desktop{

    
  }
}

.Videolist__item {
  display: flex;

  @include desktop{
   
    width: 70%;
    gap:3.5rem;
  }
}

.Videolist__imagelist {
  width: 7rem;
  height: 5rem;

  @include desktop{

 
  }

}

.Videolist__image {
  width: 7rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 0.25rem; 
  margin-left: 2rem;

  @include desktop{
   
height:4rem;
   width: 9rem;
   margin: 1rem;

    
  }
}

.Videolist__details {
  margin-top: 10px;
  margin-left: 2rem;
}

.Videolist__title {
  font-size: 12px;
  margin-left: 1rem;
  font-weight: 550;
  line-height: 1rem;

 
  color: $secondrycolor_1;
 

  @include desktop{

    font-size: 16px;

    margin: 0.5rem;
   color: $secondrycolor_1;
   font-weight: bolder;
  }
}

.Videolist__channel {
  font-size: 12px;
  color: $primarycolor_1;

 margin-top: 0.5rem;
  margin-left: 1rem;

  @include desktop{
    font-size: 16px;

  }
}
.tester{
 
  height: 100%;
  margin-top: 2rem;
}


