@import './styles/partials/_breakpoints.scss';
@import './styles/partials/_colors.scss';
@import './styles/partials/_global.scss';
@import './styles/partials/_mixins.scss';

@font-face {
  font-family: 'Avenir';
  src: url('./assets/Font/AvenirNextLTPro-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./assets/Font/AvenirNextLTPro-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Avenir;
}

code {
  font-family: Avenir;
}
